@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
}
body {
  font-size: 16px;
  line-height: 1.5;
}
header {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
}
